body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  text-align: center;
}

h1 {
  color: #cb76a8;
  margin-bottom: 20px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

.month {
  background: #e0e1e3;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.month h2 {
  background: #cd36bb;
  color: #fff;
  margin: -10px -10px 10px -10px;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  width: 14.28%;
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
}

td:hover {
  background: #e0f7fa;
  cursor: pointer;
}
